/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1439.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1440px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: #5D5986;
  font-weight: 700;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.breadcrumb > li,
.breadcrumb .breadcrumb-item {
  font-size: 2.4rem;
  line-height: 3rem;
  position: relative;
  padding-right: 40px;
}
.breadcrumb > li:after,
.breadcrumb .breadcrumb-item:after {
  top: 50%;
  right: 7px;
  content: "";
  width: 26px;
  height: 37px;
  margin-top: -18px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__breadcrumb.svg") 0 0 no-repeat;
}
.breadcrumb > li > a,
.breadcrumb .breadcrumb-item > a {
  color: #6893FF;
  display: inline-block;
  text-decoration: none;
}
.breadcrumb > li > a:hover,
.breadcrumb .breadcrumb-item > a:hover {
  color: #5D5986;
  text-decoration: none;
}
.breadcrumb > li span,
.breadcrumb .breadcrumb-item span {
  display: inline-block;
}
.breadcrumb > li:last-child:after,
.breadcrumb .breadcrumb-item:last-child:after {
  display: none;
}
@media (min-width: 768px) {
  .breadcrumb > li,
.breadcrumb .breadcrumb-item {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}
@media (min-width: 1200px) {
  .breadcrumb > li,
.breadcrumb .breadcrumb-item {
    font-size: 4.8rem;
    line-height: 5rem;
  }
}

.form-group {
  margin-bottom: 18px;
}

.form_group {
  margin-bottom: 18px;
}

.form_label {
  display: block;
  min-height: 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
}

.form_wrap {
  position: relative;
}
.form_wrap__input {
  z-index: 1;
  position: relative;
}
.form_wrap__message {
  font-size: 0;
  line-height: 0;
  padding: 4px 0 4px 10px;
  border: 2px solid #DCE6EC;
  border-top: none;
}
.form_wrap__error {
  left: 5px;
  top: -9px;
  right: 5px;
  color: #fff;
  padding: 6px 10px;
  font-size: 11px;
  line-height: 12px;
  z-index: 100;
  position: absolute;
  background: #E10095;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_wrap .ivu-date-picker {
  display: block;
}

.btn_pass_view {
  top: 14px;
  right: 16px;
  z-index: 50;
  width: 20px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.btn_pass_view:after, .btn_pass_view:before {
  left: 0;
  z-index: 10;
  width: 20px;
  content: "";
  position: absolute;
  display: inline-block;
}
.btn_pass_view:after {
  top: 0;
  opacity: 0;
  height: 17px;
  visibility: hidden;
  background: url("../img/icon__pass_off.svg") 0 0 no-repeat;
}
.btn_pass_view:before {
  top: 2px;
  height: 14px;
  opacity: 1;
  visibility: visible;
  background: url("../img/icon__pass_on.svg") 0 0 no-repeat;
}
.btn_pass_view.pass_visible:after {
  opacity: 1;
  visibility: visible;
}
.btn_pass_view.pass_visible:before {
  opacity: 0;
  visibility: hidden;
}

.form_info {
  color: #485967;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-right: 20px;
  padding-left: 15px;
  display: inline-block;
  background: url("../img/icon__form_check.svg") 0 50% no-repeat;
}
.form_info__error {
  color: #E82E87;
  background: url("../img/icon__form_error.svg") 0 50% no-repeat;
}
.form_info__good {
  color: #1BB980;
  background: url("../img/icon__form_good.svg") 0 50% no-repeat;
}

.inline_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.inline_form .ivu-radio-wrapper {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.inline_form .form_wrap {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ivu-form-item {
  position: relative;
  margin-bottom: 18px;
}

.ivu-input {
  color: #000;
  outline: none;
  height: 48px;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 12px 15px;
  border: 2px solid #DCE6EC;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.ivu-input::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.ivu-input:-ms-input-placeholder {
  color: #000;
}
.ivu-input::-webkit-input-placeholder {
  color: #000;
}
.ivu-input:hover {
  border-color: #DADBDB;
}
.ivu-input:focus {
  border-color: #A8B2F7;
  -webkit-box-shadow: 8px 11px 24px rgba(106, 122, 208, 0.12);
  box-shadow: 8px 11px 24px rgba(106, 122, 208, 0.12);
}

.ivu-input-prefix i,
.ivu-input-suffix i {
  line-height: 48px;
}

.ivu-input[disabled],
fieldset[disabled] .ivu-input {
  color: #CFCCEE;
  background: #F0F7FF;
}

.ivu-input-small {
  height: 32px;
  padding: 5px 10px;
  border-width: 1px;
  font-size: 1.3rem;
}

.ivu-input-large {
  height: 52px;
  padding: 14px 15px;
}

.ivu-input-wrapper-small .ivu-input-prefix i,
.ivu-input-wrapper-small .ivu-input-suffix i {
  line-height: 32px;
}

.ivu-picker-panel-body {
  font-size: 1.2rem;
}

.ivu-select {
  font-size: 1.4rem;
}

.ivu-select-single .ivu-select-selection {
  height: 48px;
  border: 2px solid #DCE6EC;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.ivu-select-single .ivu-select-selection i {
  opacity: 0;
  visibility: hidden;
  display: none !important;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  height: 44px;
  outline: none;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 12px 24px 12px 15px;
}
.ivu-select-placeholder,
.ivu-select-selected-value {
  position: relative;
}
.ivu-select-placeholder:before,
.ivu-select-selected-value:before {
  top: 50%;
  width: 14px;
  height: 7px;
  right: 8px;
  content: "";
  opacity: 0.7;
  margin-top: -3px;
  display: inline-block;
  position: absolute;
  background: url("../img/icon__select.svg") 0 0 no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.ivu-select-visible .ivu-select-selection {
  border-color: #A8B2F7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ivu-select-visible .ivu-select-placeholder:before,
.ivu-select-visible .ivu-select-selected-value:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.ivu-select-large.ivu-select-single .ivu-select-selection {
  height: 52px;
}

.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  height: 50px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  padding: 15px 25px 15px 15px;
}

.ivu-radio {
  outline: none;
  margin-right: 8px;
}

.ivu-radio-group {
  display: block;
}

.ivu-radio-wrapper {
  margin-right: 0;
}

.ivu-radio-inner {
  width: 18px;
  height: 18px;
  outline: none;
  background: #D0DCF6;
  border: 4px solid #D0DCF6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.ivu-radio-inner:after {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.ivu-radio-checked .ivu-radio-inner {
  background: #E10095;
}

.ivu-radio-checked .ivu-radio-inner {
  border-color: #D0DCF6 !important;
}

.ivu-switch {
  width: 50px;
  height: 34px;
  outline: none;
  background: #fff;
  line-height: 32px;
  position: relative;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ivu-switch:after {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border: 1px solid #717171;
  background: linear-gradient(180deg, rgba(231, 231, 231, 0.41) 0%, rgba(83, 83, 83, 0.41) 100%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.ivu-switch.ivu-switch-checked {
  border-color: #50D711;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ivu-switch.ivu-switch-checked:after {
  border-color: #50D711;
  background: linear-gradient(180deg, rgba(31, 222, 73, 0.41) 0%, rgba(5, 192, 46, 0.41) 100%);
}
.ivu-switch.ivu-switch-checked .ivu-switch-inner {
  left: 9px;
  color: #50D711;
}

.ivu-switch-inner {
  left: 38px;
  color: #5B5B5B;
}

.ivu-switch-large {
  width: 70px;
}

.ivu-input-group-prepend {
  width: 56px;
  background: #fff;
  position: relative;
  border: 2px solid #DCE6EC;
  border-right: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.ivu-input-group-prepend:before {
  right: 0;
  top: 50%;
  width: 2px;
  content: "";
  height: 30px;
  margin-top: -15px;
  position: absolute;
  background: #E8D1FF;
  display: inline-block;
}
.ivu-input-group-prepend .ivu-icon {
  top: 50%;
  left: 50%;
  width: 16px;
  height: 18px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: inline-block;
  margin: -9px 0 0 -8px;
}
.ivu-input-group-prepend .ivu-icon:after, .ivu-input-group-prepend .ivu-icon:before {
  opacity: 0;
  display: none;
  visibility: hidden;
}
.ivu-input-group-prepend .ivu-icon.ivu-icon-ios-mail {
  background: url("../img/icon__email.svg") 50% 50% no-repeat;
}
.ivu-input-group-prepend .ivu-icon.ivu-icon-ios-lock-outline {
  background: url("../img/icon__password.svg") 50% 50% no-repeat;
}

.ivu-input-group-with-prepend .ivu-input,
.ivu-input-group-with-prepend.ivu-input-group-small .ivu-input {
  border-left: none;
}

.ivu-checkbox-inner {
  width: 26px;
  height: 26px;
  outline: none !important;
  border: 2px solid #d0dcf6 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.ivu-checkbox-inner:hover {
  border-color: #d0dcf6 !important;
}
.ivu-checkbox-inner:focus {
  border-color: #d0dcf6 !important;
}

.ivu-checkbox-inner:after {
  left: 7px;
  width: 8px;
  height: 16px;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
  background: #cfccee;
  border-color: #d0dcf6 !important;
}

.ivu-checkbox-checked .ivu-checkbox-inner:after {
  left: 7px;
  width: 8px;
  height: 16px;
}

.ivu-checkbox-checked .ivu-checkbox-inner:hover {
  border-color: #d0dcf6 !important;
}

.ivu-checkbox:hover .ivu-checkbox-inner {
  border-color: #d0dcf6 !important;
}

.ivu-checkbox-focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.main_checkbox input {
  display: none;
}
.main_checkbox span {
  color: #000;
  min-width: 1px;
  cursor: pointer;
  min-height: 12px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 15px;
  position: relative;
  display: inline-block;
}
.main_checkbox span:before {
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 12px;
  height: 12px;
  outline: none;
  position: absolute;
  display: inline-block;
  border: 1px solid #d0dcf6;
}
.main_checkbox span:after {
  top: 2px;
  left: 5px;
  z-index: 5;
  content: "";
  width: 3px;
  height: 6px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.main_checkbox input:checked + span:before {
  background: #cfccee;
  border-color: #d0dcf6;
}
.main_checkbox input:checked + span:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.ivu-dropdown {
  position: relative;
}
.ivu-dropdown .ivu-dropdown-menu {
  width: 100%;
}

.ivu-select-dropdown {
  min-width: 100%;
  padding: 0;
  margin: 0 0 5px 0;
  background: #E6F5FF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ivu-dropdown-item {
  color: #EF009E;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding: 15px 16px;
  border-bottom: 1px solid #fff;
}
.ivu-dropdown-item:last-child {
  border-bottom: none;
}
.ivu-dropdown-item:hover {
  color: #00C236;
  background: #E6F5FF;
}

.ivu-btn {
  height: 52px;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 14px 25px;
  text-decoration: none;
}
.ivu-btn:hover {
  color: #fff;
  text-decoration: none;
}

.ivu-btn-default {
  color: #fff;
  outline: none;
  border: none;
  box-shadow: 8px 16px 48px rgba(158, 158, 158, 0.47);
  background: linear-gradient(180deg, rgba(211, 211, 211, 0.6) 0%, rgba(139, 139, 139, 0.8) 100%);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.ivu-btn-default:hover {
  border: none;
  border-top-color: rgba(211, 211, 211, 0.6);
  box-shadow: 8px 16px 48px rgba(58, 158, 158, 0.47);
  background: linear-gradient(180deg, rgba(211, 211, 211, 0.9) 0%, rgba(139, 139, 139, 0.9) 100%);
}

.ivu-btn-primary {
  color: #fff;
  border: 1px solid rgba(117, 162, 249, 0.8);
  border-top: 1px solid rgba(117, 162, 249, 0.2);
  box-shadow: 8px 16px 48px rgba(106, 122, 208, 0.47);
  background: linear-gradient(180deg, #c9c3f9 0%, #9dc0f2 100%);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.ivu-btn-primary:hover {
  background: linear-gradient(180deg, #b8a6f9 0%, #86bbf2 100%);
}

.ivu-btn-success {
  color: #fff;
  border: 1px solid rgba(117, 162, 249, 0.8);
  border-top: 1px solid rgba(117, 162, 249, 0.2);
  box-shadow: 8px 16px 48px rgba(106, 122, 208, 0.47);
  background: linear-gradient(180deg, #c9c3f9 0%, #9dc0f2 100%);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.ivu-btn-success:hover {
  background: linear-gradient(180deg, #b8a6f9 0%, #86bbf2 100%);
}

.ivu-btn-error {
  color: #fff;
  border: 1px solid #F961B3;
  border-top: 1px solid #BD82F8;
  box-shadow: 8px 16px 48px rgba(208, 106, 198, 0.47);
  background-image: -webkit-linear-gradient(top, #BD82F8 0%, #F961B3 100%);
  background-image: -o-linear-gradient(top, #BD82F8 0%, #F961B3 100%);
  background-image: linear-gradient(to bottom, #BD82F8 0%, #F961B3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFBD82F8", endColorstr="#FFF961B3", GradientType=0);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.ivu-btn-error:hover {
  background-image: -webkit-linear-gradient(top, #cc6ef8 0%, #f939b0 100%);
  background-image: -o-linear-gradient(top, #cc6ef8 0%, #f939b0 100%);
  background-image: linear-gradient(to bottom, #cc6ef8 0%, #f939b0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFCC6EF8", endColorstr="#FFF939B0", GradientType=0);
}

.ivu-btn-warning {
  color: #fff;
  outline: none;
  border: none;
  box-shadow: 8px 16px 48px rgba(158, 158, 158, 0.47);
  background: linear-gradient(180deg, rgba(211, 211, 211, 0.6) 0%, rgba(139, 139, 139, 0.8) 100%);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
.ivu-btn-warning:hover {
  border: none;
  border-top-color: rgba(211, 211, 211, 0.6);
  box-shadow: 8px 16px 48px rgba(58, 158, 158, 0.47);
  background: linear-gradient(180deg, rgba(211, 211, 211, 0.9) 0%, rgba(139, 139, 139, 0.9) 100%);
}

.ivu-btn-text {
  color: #4F79A1;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  border-color: transparent;
  text-decoration: underline;
}
.ivu-btn-text:hover {
  color: #4F79A1;
  text-decoration: none;
  border-color: transparent;
}

.ivu-btn-small {
  height: 32px;
  padding: 5px 18px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
}

@media (min-width: 992px) {
  .ivu-btn-large {
    height: 66px;
    font-size: 1.8rem;
    padding: 22px 100px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
  }
}

.btn_group {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.btn_group_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.btn_group__elem {
  padding: 0 10px;
}

.ivu-table {
  color: #020202;
  font-size: 1.2rem;
  line-height: 2rem;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.ivu-table thead {
  z-index: 10;
  position: relative;
}
.ivu-table th {
  height: 52px;
  position: relative;
  border-bottom: 2px solid rgba(148, 112, 203, 0.45);
  background-image: -webkit-linear-gradient(top, #fefeff 0%, #ebf2fd 100%);
  background-image: -o-linear-gradient(top, #fefeff 0%, #ebf2fd 100%);
  background-image: linear-gradient(to bottom, #fefeff 0%, #ebf2fd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFEFEFF", endColorstr="#FFEBF2FD", GradientType=0);
}
.ivu-table th:first-child {
  z-index: 50;
  -webkit-border-radius: 4px 0 0px 0px;
  -moz-border-radius: 4px 0 0px 0px;
  -ms-border-radius: 4px 0 0px 0px;
  border-radius: 4px 0 0px 0px;
}
.ivu-table th:first-child .ivu-table-cell {
  border-right: none;
}
.ivu-table th:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.ivu-table th:last-child .ivu-table-cell {
  border-right: none;
}
.ivu-table th .ivu-table-cell {
  display: block;
  border-right: 1px solid #E8D1FF;
}
.ivu-table th.col_icon .ivu-table-cell {
  margin-left: 40px;
}
.ivu-table td {
  height: 52px;
  border-bottom: 1px solid rgba(148, 112, 203, 0.45);
}
.ivu-table td.col_icon span {
  padding: 2px 0 2px 40px;
  position: relative;
  display: inline-block;
}
.ivu-table tr:last-child:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.ivu-table tr:last-child:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

.ivu-table-row-hover td {
  background: rgba(230, 223, 251, 0.31) !important;
}
.ivu-table-row-hover td.bg_purple {
  background: #f6effd !important;
}

.ivu-table-cell {
  position: relative;
  overflow: visible;
  /*	> * {
  		width: 100%;
  		display: flow-root;
  		text-align: center;
  	} */
}

.w-100 {
  width: 100%;
  display: block;
  text-align: center;
}

.th_value {
  left: 50%;
  top: 100%;
  width: 35px;
  height: 14px;
  color: #000;
  z-index: 10;
  display: block;
  font-weight: 300;
  padding: 2px 2px 1px 2px;
  font-size: 1.1rem;
  line-height: 1.2rem;
  text-align: center;
  position: absolute;
  background: #D1CDEE;
  margin: 1px 0 0 -17px;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.table_link {
  color: #0049B6;
  font-weight: 700;
  text-decoration: underline;
}
.table_link:hover {
  color: #000;
  text-decoration: none;
}

.table_progress {
  width: 110px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  text-align: center;
  background: #F0F6FF;
  display: inline-block;
  border: 1px solid #D9E8FF;
}
.table_progress span {
  z-index: 20;
  display: inline-block;
  position: relative;
}
.table_progress i {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  border: 1px solid #F0F6FF;
  background: linear-gradient(89.92deg, #3CDEB7 0.03%, rgba(137, 255, 82, 0.26) 106.37%);
}
.table_progress i:before {
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/table_progress_pattern.png") 0 0 no-repeat;
}

.table_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.table_icon {
  font-size: 0;
  line-height: 0;
  margin-right: 5px;
  display: inline-block;
}
.table_icon img {
  display: inline-block;
}

.ivu-table table {
  overflow: hidden;
}
.ivu-table td {
  position: relative;
}
.ivu-table td > div {
  z-index: 10;
  position: relative;
}
.ivu-table td:hover:before {
  left: 0;
  z-index: 1;
  top: -5000px;
  width: 100%;
  content: "";
  display: block;
  height: 10000px;
  position: absolute;
  background: rgba(252, 188, 253, 0.12);
}

.ivu-table-fixed {
  z-index: 100;
  background: #fff;
}

.ivu-page {
  margin: 0 -3px;
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .ivu-page {
    margin: 0 -6px;
  }
}

.ivu-page-next,
.ivu-page-prev,
.ivu-page-item,
.ivu-page-item-jump-next,
.ivu-page-item-jump-prev {
  width: 40px;
  height: 40px;
  color: #000;
  padding: 8px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 3px 10px 3px;
  border: 2px solid #D0DCF6;
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.ivu-page-next a,
.ivu-page-prev a,
.ivu-page-item a,
.ivu-page-item-jump-next a,
.ivu-page-item-jump-prev a {
  font-family: "Gotham Pro", Arial, sans-serif;
}
@media (min-width: 768px) {
  .ivu-page-next,
.ivu-page-prev,
.ivu-page-item,
.ivu-page-item-jump-next,
.ivu-page-item-jump-prev {
    width: 54px;
    height: 54px;
    padding: 15px 0;
    margin: 0 6px 10px 6px;
    font-size: 1.8rem;
  }
}

.ivu-page-item-active {
  background: linear-gradient(180deg, rgba(147, 130, 248, 0.41) 0%, rgba(97, 175, 249, 0.41) 100%);
}
.ivu-page-item-active a {
  color: #fff;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.color_red {
  color: #E82E87 !important;
}

.color_green {
  color: #00AC83 !important;
}

.color_brown {
  color: #D85B00 !important;
}

.color_purple {
  color: #E10095 !important;
}

.color_blue {
  color: #0015D7 !important;
}

.color_light_blue {
  color: #006DD2 !important;
}

.bg_purple {
  background: rgba(252, 188, 253, 0.2) !important;
}

.text_light_blue_underline span {
  border-bottom: 1px solid rgba(0, 109, 210, 0.5);
}

.text_blue_underline span {
  border-bottom: 1px solid rgba(0, 21, 215, 0.4);
}

.bg_rose {
  background: rgba(252, 188, 253, 0.2) !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Gotham Pro", Arial, sans-serif;
  background: url("../img/bg.jpg") 50% 0% no-repeat;
  background-size: cover;
  font-size: 1.3rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1410px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  line-height: 1;
  color: #5D5986;
  font-size: 2.4rem;
  font-family: "Gotham Pro", Arial, sans-serif;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 4.8rem;
  }
}

h2, .h2 {
  color: #485967;
  line-height: 1;
  font-weight: 300;
  font-size: 2.4rem;
  font-family: "Gotham Pro", Arial, sans-serif;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 3.5rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Gotham Pro", Arial, sans-serif;
}

h4, .h4 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  color: #485967;
  font-family: "Gotham Pro", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Gotham Pro", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Gotham Pro", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  z-index: 500;
  position: relative;
  background: transparent;
}
.header__row {
  z-index: 500;
  padding: 10px 0 0 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__content {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  width: 138px;
  display: block;
  padding-top: 20px;
}
.header__user {
  right: 0;
  top: 5px;
  position: absolute;
  color: #868686;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
}
.header__user a {
  color: #868686;
  text-decoration: none;
}
.header__user a:hover {
  color: #868686;
  text-decoration: none;
}
.header__toggle {
  width: 30px;
  height: 31px;
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.header__toggle:after, .header__toggle:before {
  left: 50%;
  height: 3px;
  width: 30px;
  z-index: 10;
  content: "";
  background: #918AF9;
  margin-left: -15px;
  position: absolute;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle:after {
  top: 3px;
}
.header__toggle:before {
  bottom: 3px;
}
.header__toggle span {
  top: 50%;
  left: 50%;
  height: 3px;
  width: 30px;
  z-index: 10;
  margin-top: -1px;
  margin-left: -15px;
  position: absolute;
  display: inline-block;
  background: #918AF9;
}
.header__nav {
  top: 0;
  left: 0;
  margin-left: -300px;
  font-size: 1.6rem;
  line-height: 2rem;
  z-index: 1200;
  width: 270px;
  height: 100vh;
  background: #fff;
  position: fixed;
  -webkit-box-shadow: 0px, 4px rgba(32, 34, 78, 0.35);
  box-shadow: 0px, 4px rgba(32, 34, 78, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav ul li {
  padding: 10px 15px;
}
.header__nav ul li a {
  color: #5D5986;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header__nav ul li a:hover {
  color: #5D5986;
  text-decoration: none;
  border-bottom-color: #5D5986;
}
.header__nav ul li.active a {
  border-bottom-color: #5D5986;
}
.header__nav ul li.disable a {
  color: #D0DCF6;
  cursor: default;
}
.header__nav ul li.disable a:hover {
  color: #D0DCF6;
  border-bottom-color: transparent;
}
.header__info {
  z-index: 100;
  font-size: 1.3rem;
  line-height: 1.8rem;
  position: relative;
  margin-top: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__info ul {
  margin: 0;
  padding: 0;
  color: #000;
  list-style: none;
  background: #fff;
  font-size: 1.3rem;
  line-height: 1.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 2px 5px rgba(42, 119, 210, 0.17);
  box-shadow: 1px 2px 5px rgba(42, 119, 210, 0.17);
}
.header__info ul li {
  cursor: pointer;
  background: #fff;
  padding: 3px 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.header__info ul li:hover {
  -webkit-box-shadow: 1px 2px 5px rgba(42, 119, 210, 0.3);
  box-shadow: 1px 2px 5px rgba(42, 119, 210, 0.3);
}
.header__info > span {
  padding: 0 6px;
  display: inline-block;
}
.header__info > span.info_time {
  color: #B90037;
}
.header.nav_open .header__toggle span {
  display: none;
}
.header.nav_open .header__toggle:before {
  bottom: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.nav_open .header__toggle:after {
  top: 14px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header.nav_open .header__nav {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .header__content {
    padding-bottom: 0;
  }
  .header__toggle {
    display: none;
  }
  .header__nav {
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    margin: 0 20px 0;
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .header__nav ul li {
    padding: 0 15px;
  }
  .header__row {
    z-index: 100;
  }
  .header__info {
    z-index: 500;
    margin-right: 250px;
  }
}
@media (min-width: 992px) {
  .header__nav {
    font-size: 1.8rem;
    margin-right: 15px;
  }
  .header__nav ul li {
    padding: 0 20px;
  }
}
.user {
  width: 55px;
  height: 54px;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.user__button {
  width: 55px;
  height: 54px;
  z-index: 200;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(180deg, #BBB5FF 0%, rgba(200, 196, 237, 0.38) 100%);
  -webkit-box-shadow: 0px 14px 34px rgba(63, 18, 110, 0.3);
  box-shadow: 0px 14px 34px rgba(63, 18, 110, 0.3);
}
.user__button:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user__nav {
  right: 0;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  min-width: 136px;
  top: calc(100% + 20px);
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.user__nav.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.user__nav:before {
  top: -24px;
  right: 16px;
  content: "";
  position: absolute;
  display: inline-block;
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
}
.user__nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.user__nav ul li a {
  width: 100%;
  color: #485967;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 10px 40px;
}
.user__nav ul li a i {
  top: 50%;
  left: 12px;
  height: 15px;
  margin-top: -8px;
  position: absolute;
  display: inline-block;
}
.user__nav ul li a:hover {
  color: #485967;
  text-decoration: none;
}

.main_tooltip {
  position: relative;
}
.main_tooltip:after {
  left: 0;
  opacity: 0;
  bottom: 100%;
  z-index: 10;
  color: #292929;
  padding: 3px 6px;
  background: #fff;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 6px;
  position: absolute;
  display: inline-block;
  visibility: hidden;
  content: attr(data-tooltip);
  -webkit-box-shadow: 3px 4px 7px rgba(199, 201, 250, 0.71);
  box-shadow: 3px 4px 7px rgba(199, 201, 250, 0.71);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main_tooltip:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.alert_line {
  padding: 5px 0;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  background: #E0006C;
}
.alert_line a {
  color: #fff;
  text-decoration: underline;
}
.alert_line a:hover {
  color: #fff;
  text-decoration: none;
}

.footer {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 80px 0 35px 0;
  background: url("../img/footer__bg.svg") 50% 0 no-repeat;
}
.footer__row {
  color: #7D7D7D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.footer__text {
  font-weight: 500;
}
.footer__dev {
  color: #708EFB;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
}
.footer__dev:hover {
  color: #708EFB;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 150px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding-top: 220px;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.heading {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.heading__col {
  margin-bottom: 10px;
}
.heading h1 {
  max-width: 1150px;
}
@media (min-width: 768px) {
  .heading {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
}

.data__views {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-shadow: 0px 0px 8px rgba(224, 222, 233, 0.3);
  box-shadow: 0px 0px 8px rgba(224, 222, 233, 0.3);
}
.data__views > li {
  margin-left: 4px;
  position: relative;
  display: inline-block;
}
.data__views label {
  width: 44px;
  font-weight: 400;
  background: #fff;
  display: inline-block;
}
.data__views label input {
  display: none;
}
.data__views label span {
  width: 44px;
  color: #000;
  background: #fff;
  cursor: pointer;
  padding: 4px 0 5px 0;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  border-bottom: none;
  -webkit-box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.6);
  box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.6);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.data__views label span i {
  font-style: normal;
  border-bottom: 1px solid #b1b1b1;
}
.data__views label input:checked + span {
  color: #fff;
  padding: 8px 0 5px 0;
  text-decoration: none;
  background: #D1CDEE;
}
.data__views label input:checked + span i {
  border-bottom-color: transparent;
}
.data__views_text label {
  width: auto;
}
.data__views_text label span {
  width: auto;
  padding: 4px 6px 5px 6px;
}
.data__views_text label input:checked + span {
  padding: 8px 6px 5px 6px;
}

.form_inline {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.form_inline_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.form_inline__elem {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form_inline__elem_btn {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.form_inline .ivu-select {
  display: block;
}

.selection {
  margin-bottom: 20px;
}
.selection__elem {
  padding: 5px 0;
}
.selection .date_interval {
  margin: 10px 0;
}
.selection .ivu-select-selection {
  border-color: #fff;
}
@media (min-width: 768px) {
  .selection {
    margin: 0 -10px 20px -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .selection__elem {
    padding: 0 10px;
  }
  .selection__elem_select {
    width: 200px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .selection .date_interval {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .selection__elem_select {
    width: 225px;
  }
}

.date_interval {
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.6);
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.date_interval__label {
  width: 100%;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 10px;
  white-space: nowrap;
}
.date_interval__input {
  width: 50%;
  padding: 0 10px;
}
.date_interval__content {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.date_interval__button {
  padding: 0 10px;
}
.date_interval .ivu-date-picker {
  box-shadow: 0px 0px 10px rgba(161, 187, 230, 0.3);
}
.date_interval .ivu-input {
  border-color: #C1C7F8;
  background: rgba(161, 187, 230, 0.15);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 187, 230, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(161, 187, 230, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .date_interval {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .date_interval__label {
    width: auto;
    padding-bottom: 0;
  }
  .date_interval__content {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .date_interval__input {
    width: 190px;
  }
  .date_interval__text {
    padding: 0 10px;
  }
}

.table_icon__admin span:before {
  left: 0;
  top: 50%;
  content: "";
  width: 22px;
  height: 22px;
  margin-top: -11px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__tie.svg") 0 0 no-repeat;
}

.table_icon__su span:before {
  left: 0;
  top: 50%;
  content: "";
  width: 24px;
  height: 24px;
  margin-top: -12px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__tie_plus.svg") 0 0 no-repeat;
}

.table_icon__headphone span:before {
  left: 0;
  top: 50%;
  content: "";
  width: 24px;
  height: 24px;
  margin-top: -12px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__headphone.svg") 0 0 no-repeat;
}

.btn_login {
  outline: none;
  color: #007EC6;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 4px 40px 4px 15px;
  border: 1px solid rgba(117, 162, 249, 0.5);
  background: linear-gradient(180deg, #E7F3FF 0%, rgba(192, 223, 252, 0.46) 100%);
  -webkit-box-shadow: 0px 8px 9px rgba(202, 229, 255, 0.35);
  box-shadow: 0px 8px 9px rgba(202, 229, 255, 0.35);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_login:before {
  top: 50%;
  right: 6px;
  width: 29px;
  height: 17px;
  content: "";
  margin-top: -8px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__login.svg") 0 0 no-repeat;
}
.btn_login:hover {
  color: #007EC6;
  text-decoration: none;
  background: linear-gradient(180deg, #C9E5FF 0%, rgba(170, 214, 255, 0.46) 100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_login:active {
  background: linear-gradient(180deg, #76BDFF 0%, rgba(116, 188, 255, 0.46) 100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.content {
  background: #fff;
  position: relative;
  padding: 40px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(161, 187, 230, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(161, 187, 230, 0.5);
}
.content__button {
  top: 20px;
  right: 50px;
  z-index: 100;
  position: absolute;
}
.content__group {
  padding-bottom: 20px;
}
.content__divider {
  margin-bottom: 30px;
  border-bottom: 1px solid #F6F1FF;
}
.content__heading {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.content__heading h2 {
  font-weight: 300;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .content {
    padding: 60px 40px;
  }
}
@media (min-width: 992px) {
  .content {
    padding: 80px 80px;
  }
}
@media (min-width: 1440px) {
  .content__heading h2 {
    font-size: 4rem;
  }
}

.inline__left {
  margin-bottom: 5px;
}
.inline .form_label {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .inline_top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  .inline_top .inline__left {
    padding-top: 5px;
  }
  .inline__left {
    width: 350px;
    text-align: right;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .inline__right {
    max-width: 590px;
    padding-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.schedule {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #D7DAF7;
}
.schedule table {
  width: 100%;
  border-collapse: collapse;
}
.schedule th {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 20px 5px 10px 5px;
  color: #B6B3B3;
  position: relative;
  border: 1px solid #fff;
  border-bottom: 2px solid #D7DAF7;
}
.schedule th:first-child {
  border-right: 2px solid #D7DAF7;
}
.schedule th.selected {
  color: #fff;
  background: #3CDEB7;
}
.schedule td {
  padding: 0;
  border: 1px solid #F6F1FF;
  border-left-color: #fff;
  border-right-color: #fff;
}
.schedule td:first-child {
  text-align: center;
  border-bottom-color: #fff;
  border-right: 2px solid #D7DAF7;
}
.schedule td.selected {
  color: #fff;
  background: #3CDEB7;
}
.schedule td.selected .schedule__weekday {
  color: #fff;
}
.schedule tr:last-child td {
  border-bottom-color: #fff;
}
.schedule__weekday {
  color: #485967;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 10px 10px;
}
.schedule__item {
  min-width: 26px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.schedule__item input {
  display: none;
}
.schedule__item span {
  width: 100%;
  height: 50px;
  color: #B6B3B3;
  padding: 10px 3px;
  line-height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
}
.schedule__item input:checked + span {
  color: #fff;
  background: #3CDEB7;
}
.schedule_col {
  cursor: pointer;
}
@media (min-width: 992px) {
  .schedule {
    overflow: visible;
    border: none;
  }
}
@media (min-width: 1440px) {
  .schedule th {
    font-size: 1.8rem;
    color: #485967;
  }
  .schedule__item span {
    font-size: 1.6rem;
  }
  .schedule__weekday {
    font-size: 1.6rem;
  }
}

.alert_box {
  color: #485967;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background: #FFFFFF;
  border: 2px solid #FFB39B;
  position: relative;
  padding: 15px 20px 25px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.6);
  box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.6);
}
.alert_box_purple {
  border-color: #F21A8E;
}
.alert_box_purple h4 {
  color: #485967 !important;
}
.alert_box_purple .alert_box__close:after, .alert_box_purple .alert_box__close:before {
  background: #F21A8E;
}
.alert_box_green {
  border-color: #25BA00;
}
.alert_box_green h4 {
  color: #485967 !important;
}
.alert_box_white {
  border-color: #fff;
}
.alert_box_mini {
  max-width: 570px;
  margin: 0 auto;
}
.alert_box__icon {
  width: 43px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.alert_box__content {
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.alert_box__text a {
  color: #48afe2;
  text-decoration: underline;
}
.alert_box__text a:hover {
  color: #48afe2;
  text-decoration: none;
}
.alert_box__date {
  color: #B7B7B7;
}
.alert_box h4 {
  color: #DF7452;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 7px;
}
.alert_box__close {
  top: 15px;
  z-index: 50;
  right: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.alert_box__close:after, .alert_box__close:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 18px;
  height: 2px;
  content: "";
  position: absolute;
  background: #485967;
  margin: -1px 0 0 -9px;
  display: inline-block;
}
.alert_box__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.alert_box__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .alert_box {
    padding: 15px 40px 25px 35px;
  }
  .alert_box_mini {
    padding: 10px 20px 20px 20px;
  }
}

.stat h1 {
  margin-bottom: 30px;
  font-weight: 300;
  background: linear-gradient(45deg, #AAA4F2 33%, #E10095);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stat__info {
  margin-bottom: 30px;
}
.stat__heading {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.stat__heading_primary {
  color: #fff;
  padding: 4px 15px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
}
.stat__heading_second {
  margin-left: 15px;
}
.stat__heading_purple .stat__heading_primary {
  background: #E82F87;
}
.stat__heading_purple .stat__heading_second {
  color: #E82F87;
}
.stat__heading_green .stat__heading_primary {
  background: #3CDEB7;
}
.stat__heading_green .stat__heading_second {
  color: #3CDEB7;
}
.stat__heading_gray .stat__heading_primary {
  background: #737373;
}
.stat__heading_gray .stat__heading_second {
  color: #737373;
}
.stat__table {
  width: 220px;
  font-size: 0;
  line-height: 0;
  border-collapse: collapse;
}
.stat__table td {
  padding: 8px 0 0 0;
  border-bottom: 1px dashed #485967;
}
.stat__table td:first-child {
  text-align: left;
}
.stat__table td:last-child {
  text-align: right;
}
.stat__table td span {
  padding: 1px;
  font-size: 14px;
  line-height: 14px;
  background: #fff;
  display: inline-block;
  position: relative;
}
.stat__table td span:before {
  left: 0;
  right: 0;
  top: 100%;
  content: "";
  height: 4px;
  background: #fff;
  position: absolute;
  display: inline-block;
}
@media (min-width: 992px) {
  .stat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .stat__info {
    width: 320px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .stat__chart {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .stat h1 {
    font-size: 3.2rem;
  }
  .stat .ct-chart {
    height: 330px;
  }
}
@media (min-width: 1200px) {
  .stat__info {
    width: 400px;
  }
}
@media (min-width: 1440px) {
  .stat__info {
    width: 390px;
  }
  .stat h1 {
    font-size: 4rem;
  }
  .stat .ct-chart {
    height: 450px;
  }
}

.stat_switch {
  font-size: 0;
  line-height: 0;
  width: 260px;
  overflow: hidden;
  background: #E8E4FF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.stat_switch__item {
  width: 100%;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.stat_switch__item input {
  display: none;
}
.stat_switch__item span {
  color: #000;
  width: 100%;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.stat_switch__item input:checked + span {
  color: #fff;
  background: #8178C5;
}

.chart_legend {
  font-size: 0;
  line-height: 0;
  padding-top: 20px;
  margin: 0 15px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.chart_legend span {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  white-space: nowrap;
  position: relative;
  padding-left: 15px;
  margin-right: 15px;
  display: inline-block;
  text-transform: uppercase;
}
.chart_legend span:before {
  top: 5px;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.chart_legend_one {
  color: #3CDEB7;
}
.chart_legend_one:before {
  background: #3CDEB7;
}
.chart_legend_two {
  color: #E82F87;
}
.chart_legend_two:before {
  background: #E82F87;
}
.chart_legend_three {
  color: #737373;
}
.chart_legend_three:before {
  background: #737373;
}

.white_box {
  background: #fff;
  margin-bottom: 35px;
  padding: 15px 20px 20px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(161, 187, 230, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(161, 187, 230, 0.5);
}
.white_box .ivu-btn {
  width: 100%;
  margin-top: -2px;
}
@media (min-width: 992px) {
  .white_box {
    padding: 15px 60px 20px 60px;
  }
}
@media (min-width: 1440px) {
  .white_box {
    padding: 15px 100px 20px 100px;
  }
}

.info_table {
  width: 100%;
  border: none;
  font-size: 1.4rem;
  line-height: 2rem;
  border-collapse: collapse;
}
.info_table td {
  padding: 3px 0;
}
.info_table td:first-child {
  font-weight: 500;
  padding-right: 20px;
}
.info_table td:last-child {
  font-weight: 300;
}
@media (min-width: 768px) {
  .info_table td:first-child {
    min-width: 175px;
  }
}

.user_info {
  max-width: 580px;
  margin-bottom: 40px;
}
.user_info__meta {
  color: #E82E87;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 0 25px 0;
  padding: 0 0 10px 0;
  list-style: none;
  border-bottom: 2px solid #F6F1FF;
}
.user_info__meta li {
  margin-bottom: 4px;
}
.user_info__divider {
  padding-top: 20px;
  border-bottom: 2px solid #F6F1FF;
}

.user_info {
  font-weight: 300;
}

.point_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.point_list > li {
  font-weight: 300;
  position: relative;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
  padding-left: 15px;
}
.point_list > li:before {
  left: 0;
  top: 7px;
  width: 6px;
  height: 6px;
  content: "";
  position: absolute;
  background: #34CDFA;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.point_list > li:last-child {
  margin-bottom: 0;
}

.select_box {
  width: 100%;
  overflow-y: scroll;
  border: 2px solid #E8D1FF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.select_box__item {
  font-size: 0;
  line-height: 0;
  display: block;
  font-weight: 400;
}
.select_box__item input {
  display: none;
}
.select_box__item span {
  color: #485967;
  padding: 5px 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: block;
  cursor: pointer;
}
.select_box__item span:hover {
  background: rgba(185, 238, 255, 0.42);
}
.select_box__item input:checked + span {
  background: rgba(185, 238, 255, 0.42);
}

.select_box::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

.select_box::-webkit-scrollbar-button {
  background-color: #F5EBFF;
}

.select_box::-webkit-scrollbar-track {
  background-color: #F5EBFF;
}

.select_box::-webkit-scrollbar-track-piece {
  background-color: #F5EBFF;
}

.select_box::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #C9DAF7;
}

.select_box::-webkit-scrollbar-corner {
  background-color: #F5EBFF;
}

.select_box::-webkit-resizer {
  background-color: #C9DAF7;
}

.top_link {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.top_link a {
  color: #48afe2;
  display: inline-block;
  text-decoration: underline;
}
.top_link a:hover {
  color: #48afe2;
  text-decoration: none;
}

.drop_nav {
  font-size: 0;
  line-height: 0;
  position: relative;
}
.progress {
  max-width: 350px;
  margin: 0 auto;
}
.progress__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #6B6B6B;
  text-align: center;
  margin-bottom: 5px;
}

.ivu-progress-bg {
  overflow: hidden;
  position: relative;
  background: linear-gradient(11.76deg, #C3B1F5 4.29%, #BAE5F7 96.62%);
}
.ivu-progress-bg:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/progress_pattern.png") 0 50% repeat-x;
}

.ivu-progress-active .ivu-progress-bg:before {
  opacity: 1 !important;
  background: url("../img/progress_pattern.png") 0 50% repeat-x;
}

.ivu-progress-inner {
  background: #fff;
  border: 1px solid #f5f5f5;
}

.auth {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  padding: 30px 15px;
  position: relative;
  background: url("../img/auth__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth:before {
  top: 50%;
  left: 50%;
  z-index: 5;
  content: "";
  width: 826px;
  height: 408px;
  position: absolute;
  margin: -204px 0 0 -413px;
  background: url("../img/auth__group.svg") 50% 50% no-repeat;
}
.auth__wrap {
  z-index: 100;
  margin: auto 0;
  position: relative;
}
.auth__logo {
  width: 120px;
  margin: 0 auto 30px auto;
}
.auth__form {
  padding: 10px;
  margin: 0 auto;
  max-width: 624px;
  position: relative;
  background: rgba(214, 238, 251, 0.35);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.5);
  box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.5);
}
.auth__form:before {
  top: 170px;
  left: -15px;
  z-index: 10;
  width: 45px;
  height: 30px;
  content: "";
  position: absolute;
  background: url("../img/auth__elem.svg") 0 0 no-repeat;
}
.auth__form_wrap {
  background: #fff;
  padding: 40px 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
}
.auth__form .ivu-btn {
  width: 100%;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.auth__title {
  color: #21A9EC;
  text-align: center;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.auth__title span {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 4px solid #155EDE;
}
.auth__error {
  color: #fff;
  padding: 16px 20px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  background: #E1007A;
  margin-top: 45px;
}
@media (min-width: 768px) {
  .auth__logo {
    width: 160px;
  }
  .auth__form_wrap {
    padding: 50px 90px 60px 90px;
  }
  .auth__title {
    font-size: 3.6rem;
    line-height: 4rem;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .auth__logo {
    width: 194px;
    margin-top: -40px;
    margin-bottom: 50px;
  }
}
.auth_bg {
  background-image: -webkit-linear-gradient(left, #d1d3fa 0%, #d6e7f7 100%);
  background-image: -o-linear-gradient(left, #d1d3fa 0%, #d6e7f7 100%);
  background-image: linear-gradient(to right, #d1d3fa 0%, #d6e7f7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD1D3FA", endColorstr="#FFD6E7F7", GradientType=1);
}

/*# sourceMappingURL=main.css.map */
