.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 20px;
	padding-bottom: 50px;
	@include flex-grow(1);
}

.heading {
	margin-bottom: 30px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
	
	&__col {
		margin-bottom: 10px;
	}
	
	h1 {
		max-width: 1150px;
	}
	
	@media (min-width: $screen-sm-min) {
		@include flex-wrap(nowrap);
	}
}


.data {
	
	&__views {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		position: relative;
		@include flexbox();
		@include justify-content(flex-end);
		@include border-radius(3px);
		@include align-items(flex-end);
		@include box-shadow(0px 0px 8px rgba(224, 222, 233, 0.3));
		
		> li {
			margin-left: 4px;
			position: relative;
			display: inline-block;
		}
		
		label {
			width: 44px;
			font-weight: 400;
			background: #fff;
			display: inline-block;
			
			input {
				display: none;
			}
			
			span {
				width: 44px;
				color: #000;
				background: #fff;
				cursor: pointer;
				padding: 4px 0 5px 0;
				font-size: 1.2rem;
				line-height: 2rem;
				text-align: center;
				display: inline-block;
				border: 1px solid #fff;
				border-bottom: none;
				@include box-shadow(0px 0px 56px rgba(161, 187, 230, 0.6));
				@include border-radius(4px 4px 0 0);
				
				i {
					font-style: normal;
					border-bottom: 1px solid #b1b1b1;
				}
			}
			
			input:checked + span {
				color: #fff;
				padding: 8px 0 5px 0;
				text-decoration: none;
				background: #D1CDEE;
				
				i {
					border-bottom-color: transparent;
				}
			}
		}
		
		&_text {
			
			label {
				width: auto;
				
				span {
					width: auto;
					padding: 4px 6px 5px 6px;
				}
				
				input:checked + span {
					padding: 8px 6px 5px 6px;
				}
			}
		}
	}
}

.form_inline {
	margin: 0 -10px;
	@include flexbox();
	@include align-items(center);
	
	&_right {
		@include justify-content(flex-end);
	}
	
	&__elem {
		padding: 0 10px;
		@include flex-grow(1);
		
		&_btn {
			@include flex-grow(0);
			@include flex-shrink(0);
		}
	}
	
	.ivu-select {
		display: block;
	}
}

.selection {
	margin-bottom: 20px;
	
	&__elem {
		padding: 5px 0;
	}
	
	.date_interval {
		margin: 10px 0;
	}
	
	.ivu-select-selection {
		border-color: #fff;
	}
	
	@media (min-width: $screen-sm-min) {
		margin: 0 -10px 20px -10px;
		@include flexbox();
		@include align-items(center);
		
		&__elem {
			padding: 0 10px;
			
			&_select {
				width: 200px;
				@include flex-shrink(0);
			}
		}
		
		.date_interval {
			margin: 0;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&__elem {
			
			&_select {
				width: 225px;
			}
		}
	}
}

.date_interval {
	padding: 10px;
	background: #fff;
	box-shadow: 0px 0px 56px rgba(161, 187, 230, 0.6);
	border-radius: 4px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	
	&__label {
		width: 100%;
		display: inline-block;
		font-size: 1.3rem;
		padding: 0 10px;
		white-space: nowrap;
	}
	
	&__input {
		width: 50%;
		padding: 0 10px;
	}
	
	&__content {
		padding: 10px 0;
		@include flexbox();
		@include align-items(center);
	}
	
	&__button {
		padding: 0 10px;
	}
	
	.ivu-date-picker {
		box-shadow: 0px 0px 10px rgba(161, 187, 230, 0.3);
	}
	
	.ivu-select-selection {
	//	border-color: #fff;
	}
	
	.ivu-input {
		border-color: #C1C7F8;
		background: rgba(161, 187, 230, 0.15);
		@include box-shadow(0px 0px 10px 0px rgba(161, 187, 230, 0.1));
		@include border-radius(3px);
	}
	
	
	@media (min-width: $screen-sm-min) {
		@include flex-wrap(nowrap);
		
		&__label {
			width: auto;
			padding-bottom: 0;
		}
		
		&__content {
			padding: 0;
		}
	}
	
	@media (min-width: $screen-md-min) {
	//	width: 500px;
		
		&__input {
			width: 190px;
		}
		
		&__text {
			padding: 0 10px;
		}
	}
}

.table_icon__admin {
	
	span {
		
		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 22px;
			height: 22px;
			margin-top: -11px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__tie.svg") 0 0 no-repeat;
		}
	}
}

.table_icon__su {
	
	span {
		
		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 24px;
			height: 24px;
			margin-top: -12px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__tie_plus.svg") 0 0 no-repeat;
		}
	}
}

.table_icon__headphone {
	
	span {
		
		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 24px;
			height: 24px;
			margin-top: -12px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__headphone.svg") 0 0 no-repeat;
		}
	}
}

.btn_login {
	outline: none;
	color: #007EC6;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 4px 40px 4px 15px;
	border: 1px solid rgba(117, 162, 249, 0.5);
//	border-top: 1px solid rgba(117, 162, 249, 0.2);
	background: linear-gradient(180deg, #E7F3FF 0%, rgba(192, 223, 252, 0.46) 100%);
	@include box-shadow(0px 8px 9px rgba(202, 229, 255, 0.35));
	@include border-radius(15px);
	@include transition(.2s);
	
	&:before {
		top: 50%;
		right: 6px;
		width: 29px;
		height: 17px;
		content: '';
		margin-top: -8px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__login.svg") 0 0 no-repeat;
	}
	
	&:hover {
		color: #007EC6;
		text-decoration: none;
		background: linear-gradient(180deg, #C9E5FF 0%, rgba(170, 214, 255, 0.46) 100%);
		@include transition(.2s);
	}
	
	&:active {
		background: linear-gradient(180deg, #76BDFF 0%, rgba(116, 188, 255, 0.46) 100%);
		@include transition(.2s);
	}
}

.content {
	background: #fff;
	position: relative;
	padding:  40px 20px;
	@include border-radius(4px);
	@include box-shadow(0px 0px 20px 0px rgba(161, 187, 230, 0.5));
	
	&__button {
		top: 20px;
		right: 50px;
		z-index: 100;
		position: absolute;
	}
	
	&__group {
		padding-bottom: 20px;
	}
	
	&__divider {
		margin-bottom: 30px;
		border-bottom: 1px solid #F6F1FF;
	}
	
	&__heading {
		font-size: 1.2rem;
		line-height: 1.8rem;
	
		h2 {
			font-weight: 300;
			margin-bottom: 5px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding:  60px 40px;
	}
	
	@media (min-width: $screen-md-min) {
		padding:  80px 80px;
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__heading {
			
			h2 {
				font-size: 4rem;
			}
		}
	}
}

.inline {
	
	&__left {
		margin-bottom: 5px;
	}
	
	.form_label {
		margin-bottom: 0;
	}
	
	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include align-items(center);
	
		&_top {
			@include align-items(flex-start);
			
			.inline__left {
				padding-top: 5px;
			}
			
		}
		
		&__left {
			width: 350px;
			text-align: right;
			margin-bottom: 0;
			@include flex-shrink(0);
		}
		
		&__right {
			max-width: 590px;
			padding-left: 20px;
			@include flex-grow(1);
		}
	}
}

.schedule {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	border: 1px solid #D7DAF7;

	table {
		width: 100%;
		border-collapse: collapse;
	}
	
	tr {

	}
	
	th {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 20px 5px 10px 5px;
		color: #B6B3B3;
		position: relative;
		border: 1px solid #fff;
		border-bottom: 2px solid #D7DAF7;
		
		&:first-child {
			border-right: 2px solid #D7DAF7;
		}
		
		&.selected {
			color: #fff;
			background: #3CDEB7;
		}
	}
	
	td {
		padding: 0;
		border: 1px solid #F6F1FF;
		border-left-color: #fff;
		border-right-color: #fff;
		
		&:first-child {
			text-align: center;
			border-bottom-color: #fff;
			border-right: 2px solid #D7DAF7;
			
		}
		
		&.selected {
			color: #fff;
			background: #3CDEB7;
			
			.schedule__weekday {
				color: #fff;
			}
		}
		
	}
	
	tr {
		
		&:last-child {
		
			td {
				border-bottom-color: #fff;
			}
		}
	}
	
	&__weekday {
		color: #485967;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 10px 10px;
	}
	
	&__item {
		min-width: 26px;
		width: 100%;
		font-size: 0;
		line-height: 0;
		font-weight: 400;
		display: inline-block;
		
		input {
			display: none;
		}
		
		
		span {
			width: 100%;
			height: 50px;
			color: #B6B3B3;
			padding: 10px 3px;
			line-height: 3rem;
			font-size: 1.4rem;
			text-align: center;
			display: inline-block;
		}
		
		input:checked + span {
			color: #fff;
			background: #3CDEB7;
		}
	}
	
	&_col {
		cursor: pointer;
	}
	
	@media (min-width: $screen-md-min) {
		overflow: visible;
		border: none;
	}
	
	@media (min-width: $screen-xl-min) {
	
		th {
			font-size: 1.8rem;
			color: #485967;
		}
		
		&__item {
			
			span {
				font-size: 1.6rem;
			}
		}
		
		&__weekday {
			font-size: 1.6rem;
		}
		
	}
}

.alert_box {
	color: #485967;
	font-size: 1.2rem;
	line-height: 1.8rem;
	background: #FFFFFF;
	border: 2px solid #FFB39B;
	position: relative;
	padding: 15px 20px 25px 20px;
	@include flexbox();
	@include align-items(center);
	@include box-shadow(0px 0px 56px rgba(161, 187, 230, 0.6));
	
	&_purple {
		border-color: #F21A8E;
		
		h4 {
			color: #485967 !important;
		}
		
		.alert_box__close {
			
			&:after,
			&:before {
				background: #F21A8E;
			}
		}
	}
	
	&_green {
		border-color: #25BA00;
		
		
		h4 {
			color: #485967 !important;
		}
	}
	
	&_white {
		border-color: #fff;
	}
	
	&_mini {
		max-width: 570px;
		margin: 0 auto;
	}
	
	&__icon {
		width: 43px;
		@include flex-shrink(0);
	}
	
	&__content {
		padding-left: 20px;
		@include flex-grow(1);
	}
	
	&__text {
		
		a {
			color: $color-blue;
			text-decoration: underline;
			
			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}
	
	&__date {
		color: #B7B7B7;
	}
	
	h4 {
		color: #DF7452;
		font-weight: 700;
		font-size: 1.7rem;
		line-height: 2rem;
		margin-bottom: 7px;
	}
	
	&__close {
		top: 15px;
		z-index: 50;
		
		right: 15px;
		width: 18px;
		height: 18px;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 18px;
			height: 2px;
			content: '';
			position: absolute;
			background: #485967;
			margin: -1px 0 0 -9px;
			display: inline-block;
		}
		
		&:after {
			@include rotate(45deg);
		}
		
		&:before {
			@include rotate(-45deg);
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 15px 40px 25px 35px;
		
		&_mini {
			padding: 10px 20px 20px 20px;
		}
	}
}


.stat {
	
	&__wrap {
	
	}
	
	h1 {
		margin-bottom: 30px;
		font-weight: 300;
		background: linear-gradient(45deg, #AAA4F2 33%, #E10095);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	&__info {
		margin-bottom: 30px;
	}
	
	&__heading {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		@include flexbox();
		@include align-items(center);
		
		&_primary {
			color: #fff;
			padding: 4px 15px;
			@include border-radius(14px);
		}
		
		&_second {
			margin-left: 15px;
		}
		
		&_purple {
			
			.stat__heading_primary {
				background: #E82F87;
			}
			
			.stat__heading_second {
				color: #E82F87;
			}
		}
		
		&_green {
			
			.stat__heading_primary {
				background: #3CDEB7;
			}
			
			.stat__heading_second {
				color: #3CDEB7;
			}
		}
		
		&_gray {
			
			.stat__heading_primary {
				background: #737373;
			}
			
			.stat__heading_second {
				color: #737373;
			}
		}
	}
	
	&__table {
		width: 220px;
		font-size: 0;
		line-height: 0;
		border-collapse: collapse;
		
		td {
			padding: 8px 0 0 0;
			border-bottom: 1px dashed #485967;
			
			&:first-child {
				text-align: left;
			}
			
			&:last-child {
				text-align: right;
			}
			
			span {
				padding: 1px;
				font-size: 14px;
				line-height: 14px;
				background: #fff;
				display: inline-block;
				position: relative;
				
				&:before {
					left: 0;
					right: 0;
					top: 100%;
					content: '';
					height: 4px;
					background: #fff;
					position: absolute;
					display: inline-block;
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		@include flexbox();
		
		
		&__info {
			width: 320px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}
		
		&__chart {
			@include flex-grow(1);
		}
		
		h1 {
			font-size: 3.2rem;
		}
		
		.ct-chart {
			height: 330px;
		}
		
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__info {
			width: 400px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__info {
			width: 390px;
		}
		
		h1 {
			font-size: 4rem;
		}
		
		.ct-chart {
			height: 450px;
		}
	}
}

.stat_switch {
	font-size: 0;
	line-height: 0;
	width: 260px;
	overflow: hidden;
	background: #E8E4FF;
	@include flexbox();
	@include border-radius(12px);
	
	&__item {
		width: 100%;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		display: inline-block;
		@include flex-grow(0);
		
		input {
			display: none;
		}
		
		span {
			color: #000;
			width: 100%;
			cursor: pointer;
			padding: 5px 5px;
			font-size: 1.2rem;
			line-height: 1.4rem;
			text-align: center;
			display: inline-block;
			@include border-radius(12px)
		}
		
		input:checked + span {
			color: #fff;
			background: #8178C5;
		}
	}
}

.chart_legend {
	font-size: 0;
	line-height: 0;
	padding-top: 20px;
	margin: 0 15px 0 0 ;
	@include flexbox();
	@include flex-wrap(wrap);
	
	span {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		white-space: nowrap;
		position: relative;
		padding-left: 15px;
		margin-right: 15px;
		display: inline-block;
		text-transform: uppercase;
		
		&:before {
			top: 5px;
			left: 0;
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}
	}
	
	&_one {
		color: #3CDEB7;
		
		&:before {
			background: #3CDEB7;
		}
	}
	
	&_two {
		color: #E82F87;
		
		&:before {
			background: #E82F87;
		}
	}
	
	&_three {
		color: #737373;
		
		&:before {
			background: #737373;
		}
	}
	
}

.white_box {
	background: #fff;
	margin-bottom: 35px;
	padding:  15px 20px 20px 20px;
	@include border-radius(4px);
	@include box-shadow(0px 0px 20px 0px rgba(161, 187, 230, 0.5));
	
	.ivu-btn {
		width: 100%;
		margin-top: -2px;
	}
	
	@media (min-width: $screen-md-min) {
		padding:  15px 60px 20px 60px;
	}
	
	@media (min-width: $screen-xl-min) {
		padding:  15px 100px 20px 100px;
	}
}

.info_table {
	width: 100%;
	border: none;
	font-size: 1.4rem;
	line-height: 2rem;
	border-collapse: collapse;
	
	td {
		padding: 3px 0;
		
		&:first-child {
			font-weight: 500;
			padding-right: 20px;
		}
		
		&:last-child {
			font-weight: 300;
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		td {
			
			&:first-child {
				min-width: 175px;
			}
			
		}
	}
}


.user_info {
	max-width: 580px;
	margin-bottom: 40px;
	
	&__meta {
		color: #E82E87;
		font-size: 1.2rem;
		line-height: 2rem;
		margin: 0 0 25px 0;
		padding: 0 0 10px 0;
		list-style: none;
		border-bottom: 2px solid #F6F1FF;
		
		li {
			margin-bottom: 4px;
		}
	}
	
	&__divider {
		padding-top: 20px;
		border-bottom: 2px solid #F6F1FF;
	}
}

.user_info {
	font-weight: 300;
}

.point_list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	> li {
		font-weight: 300;
		position: relative;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 5px;
		padding-left: 15px;
		
		&:before {
			left: 0;
			top: 7px;
			width: 6px;
			height: 6px;
			content: '';
			position: absolute;
			background: #34CDFA;
			display: inline-block;
			@include border-radius(50%);
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.select_box {
	width: 100%;
	overflow-y: scroll;
	border: 2px solid #E8D1FF;
	
	@include border-radius(3px);
	
	&__item {
		font-size: 0;
		line-height: 0;
		display: block;
		font-weight: 400;
		
		input {
			display: none;
		}
		
		span {
			color: #485967;
			padding: 5px 10px;
			font-size: 1.2rem;
			line-height: 1.6rem;
			display: block;
			cursor: pointer;
			
			
			&:hover {
				background: rgba(185, 238, 255, 0.42);
			}
		}
		
		input:checked + span {
			background: rgba(185, 238, 255, 0.42);
		}
	}
}

.select_box::-webkit-scrollbar { width: 10px; height: 1px;}
.select_box::-webkit-scrollbar-button {  background-color: #F5EBFF; }
.select_box::-webkit-scrollbar-track {  background-color: #F5EBFF;}
.select_box::-webkit-scrollbar-track-piece { background-color: #F5EBFF;}
.select_box::-webkit-scrollbar-thumb { height: 50px; background-color: #C9DAF7;}
.select_box::-webkit-scrollbar-corner { background-color: #F5EBFF;}
.select_box::-webkit-resizer { background-color: #C9DAF7;}


.top_link {
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
	@include flexbox();
	@include justify-content(flex-end);
	
	a {
		color: $color-blue;
		display: inline-block;
		text-decoration: underline;
		
		&:hover {
			color: $color-blue;
			text-decoration: none;
		}
	}
}

.drop_nav {
	font-size: 0;
	line-height: 0;
	position: relative;
	
	&__heading {
	
	}
}

.progress {
	max-width: 350px;
	margin: 0 auto;
	
	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		color: #6B6B6B;
		text-align: center;
		margin-bottom: 5px;
	}
}

.ivu-progress-bg {
	overflow: hidden;
	position: relative;
	background: linear-gradient(11.76deg, #C3B1F5 4.29%, #BAE5F7 96.62%);
	
	&:before {
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: url("../img/progress_pattern.png") 0 50% repeat-x;
	}
}

.ivu-progress-active .ivu-progress-bg:before {
	opacity: 1 !important;
	background: url("../img/progress_pattern.png") 0 50% repeat-x;
}



.ivu-progress-active  {
	
	.ivu-progress-bg {
		
		:before {
		
		}
	}
}

.ivu-progress-inner {
	background: #fff;
	border: 1px solid #f5f5f5;
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}