.header {
	z-index: 500;
	position: relative;
	background: transparent;
	
	&__row {
		z-index: 500;
		padding: 10px 0 0 0;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__content {
		padding-bottom: 10px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__logo {
		width: 138px;
		display: block;
		padding-top: 20px;
	}
	
	&__user {
		right: 0;
		top: 5px;
		position: absolute;
		color: #868686;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 2rem;
		
		a {
			color: #868686;
			text-decoration: none;
			
			&:hover {
				color: #868686;
				text-decoration: none;
			}
		}
	}
	
	&__toggle {
		width: 30px;
		height: 31px;
		position: relative;
		display: inline-block;
		margin-left: 20px;
		
		&:after,
		&:before {
			left: 50%;
			height: 3px;
			width: 30px;
			z-index: 10;
			content: '';
			background: #918AF9;
			margin-left: -15px;
			position: absolute;
			display: inline-block;
			@include transition(.3s);
		}
		
		&:after {
			top: 3px;
		}
		
		&:before {
			bottom: 3px;
		}
		
		span {
			top: 50%;
			left: 50%;
			height: 3px;
			width: 30px;
			z-index: 10;
			margin-top: -1px;
			margin-left: -15px;
			position: absolute;
			display: inline-block;
			background: #918AF9;
		}
	}
	
	&__nav {
		top: 0;
		left: 0;
		margin-left: -300px;
		font-size: 1.6rem;
		line-height: 2rem;
		z-index: 1200;
		width: 270px;
		height: 100vh;
		background: #fff;
		position: fixed;
		@include box-shadow(0px, 4px rgba(32, 34, 78, 0.35));
		@include transition(.3s);
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				padding: 10px 15px;
			
				a {
					color: #5D5986;
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px solid transparent;
					
					&:hover {
						color: #5D5986;
						text-decoration: none;
						border-bottom-color: #5D5986;
					}
				}
				
				
				&.active {
				
					a {
						border-bottom-color: #5D5986;
					}
				}
				
				
				&.disable {
					
					a {
						color: #D0DCF6;
						cursor: default;
						
						&:hover {
							color: #D0DCF6;
							border-bottom-color: transparent;
						}
					}
				}
			}
		}
	}
	
	&__info {
		z-index: 100;
		font-size: 1.3rem;
		line-height: 1.8rem;
		position: relative;
		margin-top: -10px;
		@include flexbox();
		@include align-items(center);
	
		ul {
			margin: 0;
			padding: 0;
			color: #000;
			list-style: none;
			background: #fff;
			font-size: 1.3rem;
			line-height: 1.8rem;
			@include flexbox();
			@include align-items(center);
			@include border-radius(12px);
			@include box-shadow(1px 2px 5px rgba(42, 119, 210, 0.17));
			
			li {
				cursor: pointer;
				background: #fff;
				padding: 3px 6px;
				@include border-radius(12px);
				
				&:hover {
					@include box-shadow(1px 2px 5px rgba(42, 119, 210, 0.3));
				}
			}
		}
		
		> span {
			padding: 0 6px;
			display: inline-block;
			
			&.info_time {
				color: #B90037;
			}
		}
	}
	
	&.nav_open {
		
		
		.header__toggle {
			
			span {
				display: none;
			}
			
			&:before {
				bottom: 14px;
				@include rotate(45deg);
			}
			
			&:after {
				top: 14px;
				@include rotate(-45deg);
			}
		}
		
		.header__nav {
			margin-left: 0;
			@include transition(.3s);
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		&__content {
			padding-bottom: 0;
		}
	
		&__toggle {
			display: none;
		}
		
		&__nav {
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			margin: 0 20px 0;
			position: relative;
			background: transparent;
			@include box-shadow(none);
			
			ul {
				@include flexbox();
				@include align-items(center);
				
				li {
					padding: 0 15px;
				}
			}
		}
		
		&__row {
			z-index: 100;
		}
		
		&__info {
			z-index: 500;
			margin-right: 250px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&__nav {
			font-size: 1.8rem;
			margin-right: 15px;
			
			ul {
				
				li {
					padding: 0 20px;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}

.user {
	width: 55px;
	height: 54px;
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;
	
	&__button {
		width: 55px;
		height: 54px;
		z-index: 200;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		@include border-radius(50%);
		border: 2px solid rgba(255, 255, 255, 0.5);
		background: linear-gradient(180deg, #BBB5FF 0%, rgba(200, 196, 237, 0.38) 100%);
		@include box-shadow(0px 14px 34px rgba(63, 18, 110, 0.3));
		
		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}
	}
	
	&__nav {
		right: 0;
		opacity: 0;
		z-index: 100;
		visibility: hidden;
		min-width: 136px;
		top: calc(100% + 20px);
		display: block;
		background: #fff;
		position: absolute;
		@include transition(.3s);
		@include border-radius(8px);
		
		&.open {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
		
		&:before {
			top: -24px;
			right: 16px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 12px solid transparent;
			border-bottom: 12px solid #fff;
		}
		
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;
			list-style: none;
			@include border-radius(8px);
			
			li {
			
				a {
					width: 100%;
					color: #485967;
					font-weight: 700;
					font-size: 1.2rem;
					line-height: 2rem;
					position: relative;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;
					padding: 10px 10px 10px 40px;
					
					i {
						top: 50%;
						left: 12px;
						height: 15px;
						margin-top: -8px;
						position: absolute;
						display: inline-block;
					}
					
					&:hover {
						color: #485967;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.main_tooltip {
	position: relative;
	
	&:after {
		left: 0;
		opacity: 0;
		bottom: 100%;
		z-index: 10;
		color: #292929;
		padding: 3px 6px;
		background: #fff;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 1.5rem;
		margin-bottom: 6px;
		position: absolute;
		display: inline-block;
		visibility: hidden;
		content: attr(data-tooltip);
		@include box-shadow(3px 4px 7px rgba(199, 201, 250, 0.71));
		@include transition(.3s);
	}
	
	&:hover {
	
		&:after {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.alert_line {
	padding: 5px 0;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.4rem;
	text-align: center;
	background: #E0006C;
	
	a {
		color: #fff;
		text-decoration: underline;
		
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}