.footer {
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 80px 0 35px 0;
	background: url("../img/footer__bg.svg") 50% 0 no-repeat;
	
	&__row {
		color: #7D7D7D;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__text {
		font-weight: 500;
	}
	
	&__dev {
		color: #708EFB;
		font-size: 1.4rem;
		font-weight: 300;
		text-decoration: none;
		
		&:hover {
			color: #708EFB;
			text-decoration: underline;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding-top: 150px;
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 220px;
	}
}