.auth {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	padding: 30px 15px;
	position: relative;
	background: url("../img/auth__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	@include flexbox();
	@include flex-direction(column);
	
	&:before {
		top: 50%;
		left: 50%;
		z-index: 5;
		content: '';
		width: 826px;
		height: 408px;
		position: absolute;
		margin: -204px 0 0 -413px;
		background: url("../img/auth__group.svg") 50% 50% no-repeat;
	}
	
	&__wrap {
		z-index: 100;
		margin: auto 0;
		position: relative;
	}
	
	&__logo {
		width: 120px;
		margin: 0 auto 30px auto;
	}
	
	&__form {
		padding: 10px;
		margin: 0 auto;
		max-width: 624px;
		position: relative;
		background: rgba(214, 238, 251, 0.35);
		@include border-radius(16px);
		@include box-shadow(0px 0px 56px rgba(161, 187, 230, 0.5));
		
		&:before {
			top: 170px;
			left: -15px;
			z-index: 10;
			width: 45px;
			height: 30px;
			content: '';
			position: absolute;
			background: url("../img/auth__elem.svg") 0 0 no-repeat;
		}
		
		&_wrap {
			background: #fff;
			padding: 40px 20px;
			@include border-radius(12px)
		}
		
		.ivu-btn {
			width: 100%;
			font-weight: 700;
			font-size: 1.8rem;
			text-transform: uppercase;
		}
	}
	
	
	&__title {
		color: #21A9EC;
		text-align: center;
		font-weight: 500;
		font-size: 2.2rem;
		line-height: 2.6rem;
		margin-bottom: 40px;
		text-transform: uppercase;
		
		span {
			padding-bottom: 5px;
			display: inline-block;
			border-bottom: 4px solid #155EDE;
		}
	}
	
	&__error {
		color: #fff;
		padding: 16px 20px;
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
		background: #E1007A;
		margin-top: 45px;
	}
	
	@media (min-width: $screen-sm-min) {
		
		&__logo {
			width: 160px;
		}
		
		&__form {
			
			&_wrap {
				padding: 50px 90px 60px 90px;
			}
		}
		
		&__title {
			font-size: 3.6rem;
			line-height: 4rem;
			margin-bottom: 40px;
		}
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
		
		
		&__logo {
			width: 194px;
			margin-top: -40px;
			margin-bottom: 50px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}

.auth_bg {
	@include gradient-horizontal(#d1d3fa,#d6e7f7);
}
