.img-fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

// Alignment

.text_center    { text-align: center !important; }
.text_right     { text-align: right !important; }
.text_justify   { text-align: justify !important; }
.text_nowrap    { white-space: nowrap !important; }


// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }


.mb_10 			 { margin-bottom: 10px !important; }
.mb_20 			 { margin-bottom: 20px !important; }
.mb_30 			 { margin-bottom: 30px !important; }
.mb_40 			 { margin-bottom: 40px !important; }
.mb_50 			 { margin-bottom: 50px !important; }
.mb_60 			 { margin-bottom: 60px !important; }

.color_red       { color: #E82E87 !important; }
.color_green     { color: #00AC83 !important; }
.color_brown     { color: #D85B00 !important; }
.color_purple    { color: #E10095 !important; }
.color_blue      { color: #0015D7 !important; }
.color_light_blue{ color: #006DD2 !important; }

.bg_purple       { background: rgba(252, 188, 253, 0.2) !important; };


.text_light_blue_underline {
	
	span {
		border-bottom: 1px solid rgba(0, 109, 210, 0.5);
	}
}

.text_blue_underline {
	
	span {
		border-bottom: 1px solid rgba(0, 21, 215, 0.4);
	}
}

.bg_rose {
	background: rgba(252, 188, 253, 0.2) !important;
}
