.breadcrumb {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	color: #5D5986;
	font-weight: 700;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	
	> li,
	.breadcrumb-item {
		font-size: 2.4rem;
		line-height: 3rem;
		position: relative;
		padding-right: 40px;
		
		&:after {
			top: 50%;
			right: 7px;
			content: '';
			width: 26px;
			height: 37px;
			margin-top: -18px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__breadcrumb.svg") 0 0 no-repeat;
		}
		
		> a {
			color: #6893FF;
			
			display: inline-block;
			text-decoration: none;
			
			&:hover {
				color: #5D5986;
				text-decoration: none;
			}
		}
		
		span {
			display: inline-block;
		}
		
		&:last-child {
			
			&:after {
				display: none;
			}
		}
		
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		> li,
		.breadcrumb-item  {
			font-size: 3.6rem;
			line-height: 4rem;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		
		> li,
		.breadcrumb-item  {
			font-size: 4.8rem;
			line-height: 5rem;
		}
	}
}

