.ivu-btn {
	height: 52px;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 14px 25px;
	text-decoration: none;
	
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.ivu-btn-default {
	color: #fff;
	outline: none;
	border: none;
	box-shadow: 8px 16px 48px rgba(158, 158, 158, 0.47);
	background: linear-gradient(180deg, rgba(211, 211, 211, 0.6) 0%, rgba(139, 139, 139, 0.8) 100%);
	@include border-radius(26px);
	
	&:hover {
		border: none;
		border-top-color: rgba(211, 211, 211, 0.6);
		box-shadow: 8px 16px 48px rgba(58, 158, 158, 0.47);
		background: linear-gradient(180deg, rgba(211, 211, 211, 0.9) 0%, rgba(139, 139, 139, 0.9) 100%);
	}
}


.ivu-btn-primary {
	color: #fff;
	border: 1px solid rgba(117, 162, 249, 0.8);
	border-top: 1px solid rgba(117, 162, 249, 0.2);
	box-shadow: 8px 16px 48px rgba(106, 122, 208, 0.47);
	background: linear-gradient(180deg, #c9c3f9 0%, #9dc0f2 100%);
	@include border-radius(26px);
	
	&:hover {
		background: linear-gradient(180deg, #b8a6f9 0%, #86bbf2 100%);
	}
}


.ivu-btn-success {
	color: #fff;
	border: 1px solid rgba(117, 162, 249, 0.8);
	border-top: 1px solid rgba(117, 162, 249, 0.2);
	box-shadow: 8px 16px 48px rgba(106, 122, 208, 0.47);
	background: linear-gradient(180deg, #c9c3f9 0%, #9dc0f2 100%);
	@include border-radius(26px);
	
	&:hover {
		background: linear-gradient(180deg, #b8a6f9 0%, #86bbf2 100%);
	}
}

.ivu-btn-error {
	color: #fff;
	border: 1px solid #F961B3;
	border-top: 1px solid #BD82F8;
	box-shadow: 8px 16px 48px rgba(208, 106, 198, 0.47);
	@include gradient-vertical(#BD82F8,#F961B3);
	@include border-radius(26px);
	
	&:hover {
		@include gradient-vertical(#cc6ef8, #f939b0);
	}
}

.ivu-btn-warning {
	color: #fff;
	outline: none;
	border: none;
	box-shadow: 8px 16px 48px rgba(158, 158, 158, 0.47);
	background: linear-gradient(180deg, rgba(211, 211, 211, 0.6) 0%, rgba(139, 139, 139, 0.8) 100%);
	@include border-radius(26px);
	
	&:hover {
		border: none;
		border-top-color: rgba(211, 211, 211, 0.6);
		box-shadow: 8px 16px 48px rgba(58, 158, 158, 0.47);
		background: linear-gradient(180deg, rgba(211, 211, 211, 0.9) 0%, rgba(139, 139, 139, 0.9) 100%);
	}
}

.ivu-btn-text {
	color: #4F79A1;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	border-color: transparent;
	text-decoration: underline;
	
	&:hover {
		color: #4F79A1;
		text-decoration: none;
		border-color: transparent;
	}
}

.ivu-btn-small {
	height: 32px;
	padding: 5px 18px;
	@include border-radius(16px);
}


.ivu-btn-large {
	
	@media (min-width: $screen-md-min) {
		height: 66px;
		font-size: 1.8rem;
		padding: 22px 100px;
		@include border-radius(33px);
	}
}

.btn_group {
	margin: 0 -10px;
	@include flexbox();
	@include align-items(center);
	
	&_right {
		@include justify-content(flex-end);
	}
	
	&__elem {
		padding: 0 10px;
	}
}
