.form-group {
	margin-bottom: 18px;
}

.form_group {
	margin-bottom: 18px;
}

.form_label {
	display: block;
	min-height: 20px;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
}

.form_wrap {
	position: relative;
	
	&__elem {
	
	}
	
	&__input {
		z-index: 1;
		position: relative;
	}
	
	&__message {
		font-size: 0;
		line-height: 0;
		padding: 4px 0 4px 10px;
		border: 2px solid #DCE6EC;
		border-top: none;
	}
	
	&__error {
		left: 5px;
		top: -9px;
		right: 5px;
		color: #fff;
		padding: 6px 10px;
		font-size: 11px;
		line-height: 12px;
		z-index: 100;
		position: absolute;
		background: #E10095;
		@include transition(.3s);
	}
	
	.ivu-date-picker {
		display: block;
	}
}

.btn_pass_view {
	top: 14px;
	right: 16px;
	z-index: 50;
	width: 20px;
	height: 17px;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	
	&:after,
	&:before {
		left: 0;
		z-index: 10;
		width: 20px;
		content: '';
		position: absolute;
		display: inline-block;
	}
	
	&:after {
		top: 0;
		opacity: 0;
		height: 17px;
		visibility: hidden;
		background: url("../img/icon__pass_off.svg") 0 0 no-repeat;
	}
	
	&:before {
		top: 2px;
		height: 14px;
		opacity: 1;
		visibility: visible;
		background: url("../img/icon__pass_on.svg") 0 0 no-repeat;
	}
	
	&.pass_visible {
		
		&:after {
			opacity: 1;
			visibility: visible;
		}
		
		&:before {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.form_info {
	color: #485967;
	font-size: 1rem;
	line-height: 1.2rem;
	margin-right: 20px;
	padding-left: 15px;
	display: inline-block;
	background: url("../img/icon__form_check.svg") 0 50% no-repeat;
	
	&__error {
		color: #E82E87;
		background: url("../img/icon__form_error.svg") 0 50% no-repeat;
	}
	
	&__good {
		color: #1BB980;
		background: url("../img/icon__form_good.svg") 0 50% no-repeat;
	}
	
	
}

.inline_form {
	@include flexbox();
	@include align-items(center);
	
	.ivu-radio-wrapper {
		@include flex-shrink(0);
	}
	
	.form_wrap {
		@include flex-grow(1);
	}
}

.ivu-form-item {
	position: relative;
	margin-bottom: 18px;
}


.ivu-input {
	color: #000;
	outline: none;
	height: 48px;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 12px 15px;
	border: 2px solid #DCE6EC;
	@include placeholder(#000);
	@include border-radius(0px);
	
	&:hover {
		border-color: #DADBDB;
	}
	
	&:focus {
		border-color: #A8B2F7;
		@include box-shadow(8px 11px 24px rgba(106, 122, 208, 0.12));
	}
}

.ivu-input-prefix i,
.ivu-input-suffix i {
	line-height: 48px;
}

.ivu-input[disabled],
fieldset[disabled]
.ivu-input {
	color: #CFCCEE;
	background: #F0F7FF;
}

.ivu-input-small {
	height: 32px;
	padding: 5px 10px;
	border-width: 1px;
	font-size: 1.3rem;
}

.ivu-input-large {
	height: 52px;
	padding: 14px 15px;
}

.ivu-input-wrapper-small .ivu-input-prefix i,
.ivu-input-wrapper-small .ivu-input-suffix i {
	line-height: 32px;
}

.ivu-picker-panel-body {
	font-size: 1.2rem;
}


.ivu-select {
	font-size: 1.4rem;
}

.ivu-select-single .ivu-select-selection {
	height: 48px;
	border: 2px solid #DCE6EC;
	@include border-radius(0);
	
	i {
		opacity: 0;
		visibility: hidden;
		display: none !important;
	}
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
	height: 44px;
	outline: none;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 12px 24px 12px 15px;

	i {
	
	}
}

.ivu-select-placeholder,
.ivu-select-selected-value {
	position: relative;
	
	&:before {
		top: 50%;
		width: 14px;
		height: 7px;
		right: 8px;
		content: '';
		opacity: 0.7;
		margin-top: -3px;
		display: inline-block;
		position: absolute;
		background: url("../img/icon__select.svg") 0 0 no-repeat;
		@include transition(.3s);
	}
	
}

.ivu-select-visible .ivu-select-selection {
	border-color: #A8B2F7;
	@include box-shadow(none);
	
}


.ivu-select-visible {
	
	.ivu-select-placeholder,
	.ivu-select-selected-value {
		
		&:before {
			@include rotate(180deg);
			@include transition(.3s);
		}
	}
}




.ivu-select-large.ivu-select-single .ivu-select-selection {
	height: 52px;
}

.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
	height: 50px;
	font-size: 1.3rem;
	line-height: 2rem;
}

.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
	padding: 15px 25px 15px 15px;
}


.ivu-radio {
	outline: none;
	margin-right: 8px;
}

.ivu-radio-group {
	display: block;
}

.ivu-radio-wrapper {
	margin-right: 0;
}

.ivu-radio-inner {
	width: 18px;
	height: 18px;
	outline: none;
	background: #D0DCF6;
	border: 4px solid #D0DCF6;
	@include border-radius(50%);
	
	&:after {
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}

.ivu-radio-checked {
	
	.ivu-radio-inner {
		background: #E10095;
	}

}

.ivu-radio-checked .ivu-radio-inner {
	border-color: #D0DCF6 !important;
}



.ivu-switch {
	width: 50px;
	height: 34px;
	outline: none;
	background: #fff;
	line-height: 32px;
	position: relative;
	border: 1px solid #bbbbbb;
	@include border-radius(17px);
	@include box-shadow(none);
	
	
	&:after {
		top: 2px;
		left: 2px;
		width: 28px;
		height: 28px;
		border: 1px solid #717171;
		background: linear-gradient(180deg, rgba(231, 231, 231, 0.41) 0%, rgba(83, 83, 83, 0.41) 100%);
		@include border-radius(50%);
	}
	
	&.ivu-switch-checked {
		border-color: #50D711;
		@include box-shadow(none);
		
		&:after {
			border-color: #50D711;
			background: linear-gradient(180deg, rgba(31, 222, 73, 0.41) 0%, rgba(5, 192, 46, 0.41) 100%);
		}
		
		.ivu-switch-inner {
			left: 9px;
			color: #50D711;
		}
	}
}

.ivu-switch-inner {
	left: 38px;
	color: #5B5B5B;
}



.ivu-switch-large {
	width: 70px;
}


.ivu-input-group-prepend {
	width: 56px;
	background: #fff;
	position: relative;
	border: 2px solid #DCE6EC;
	border-right: none;
	@include border-radius(0);
	
	&:before {
		right: 0;
		top: 50%;
		width: 2px;
		content: '';
		height: 30px;
		margin-top: -15px;
		position: absolute;
		background: #E8D1FF;
		display: inline-block;
	}
	
	.ivu-icon {
		top: 50%;
		left: 50%;
		width: 16px;
		height: 18px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		display: inline-block;
		margin: -9px 0 0 -8px;
		
		&:after,
		&:before {
			opacity: 0;
			display: none;
			visibility: hidden;
		}
		
		&.ivu-icon-ios-mail {
			background: url("../img/icon__email.svg") 50% 50% no-repeat;
		}
		
		&.ivu-icon-ios-lock-outline {
			background: url("../img/icon__password.svg") 50% 50% no-repeat;
		}
	}
}

.ivu-input-group-with-prepend .ivu-input,
.ivu-input-group-with-prepend.ivu-input-group-small .ivu-input {
	border-left: none;
}


.ivu-checkbox-inner {
	width: 26px;
	height: 26px;
	outline: none !important;
	border: 2px solid #d0dcf6 !important;
	@include border-radius(3px);
	
	&:hover {
		border-color: #d0dcf6 !important;
	}
	
	&:focus {
		border-color: #d0dcf6 !important;
	}
}

.ivu-checkbox-inner:after {
	left: 7px;
	width: 8px;
	height: 16px;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
	background: #cfccee;
	border-color: #d0dcf6 !important;
}

.ivu-checkbox-checked .ivu-checkbox-inner:after {
	left: 7px;
	width: 8px;
	height: 16px;
}

.ivu-checkbox-checked .ivu-checkbox-inner:hover {
	border-color: #d0dcf6 !important;
}

.ivu-checkbox:hover .ivu-checkbox-inner {
	border-color: #d0dcf6 !important;
}

.ivu-checkbox-focus {
	@include box-shadow(none);
}


.main_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;
	
	input {
		display: none;
	}
	
	span {
		color: #000;
		min-width: 1px;
		cursor: pointer;
		min-height: 12px;
		font-size: 12px;
		line-height: 12px;
		padding-left: 15px;
		position: relative;
		display: inline-block;
		
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 12px;
			height: 12px;
			outline: none;
			position: absolute;
			display: inline-block;
			border: 1px solid #d0dcf6;
		}
		
		&:after {
			top: 2px;
			left: 5px;
			z-index: 5;
			content: '';
			width: 3px;
			height: 6px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			@include rotate(45deg);
			@include transition(.2s);
		}
	}
	
	input:checked + span {
		
		&:before {
			background: #cfccee;
			border-color: #d0dcf6;
		}
		
		&:after {
			opacity: 1;
			visibility: visible;
			@include transition(.2s);
		}
	}
}

.ivu-dropdown {
	position: relative;

	.ivu-select-dropdown {
	
	}
	
	.ivu-dropdown-menu {
		width: 100%;
	}
}

.ivu-select-dropdown {
	min-width: 100%;
	padding: 0;
	margin: 0 0 5px 0;
	background: #E6F5FF;
	@include box-shadow(none);
}

.ivu-dropdown-item {
	color: #EF009E;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 15px 16px;
	border-bottom: 1px solid #fff;
	
	&:last-child {
		border-bottom: none;
	}
	
	&:hover {
		color: #00C236;
		background: #E6F5FF;
	}
}