.ivu-page {
	margin: 0 -3px;
	padding-top: 30px;
	@include flexbox();
	@include flex-wrap(wrap);
	
	@media (min-width: $screen-sm-min) {
		margin: 0 -6px;
	}
}

.ivu-page-next,
.ivu-page-prev,
.ivu-page-item,
.ivu-page-item-jump-next,
.ivu-page-item-jump-prev {
	width: 40px;
	height: 40px;
	color: #000;
	padding: 8px 0;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	margin: 0 3px 10px 3px;
	border: 2px solid #D0DCF6;
	background: rgba(255, 255, 255, 0.3);
	@include border-radius(50%);
	
	a {
		font-family: $font-family-base;
	}
	
	@media (min-width: $screen-sm-min) {
		width: 54px;
		height: 54px;
		padding: 15px 0;
		margin: 0 6px 10px 6px;
		font-size: 1.8rem;
	}
}

.ivu-page-item-active {
	background: linear-gradient(180deg, rgba(147, 130, 248, 0.41) 0%, rgba(97, 175, 249, 0.41) 100%);
	
	a {
		color: #fff;
	}
}