.ivu-table {
	color: #020202;
	font-size: 1.2rem;
	line-height: 2rem;
	overflow: hidden;
	@include border-radius(4px);
	
	thead {
		z-index: 10;
		position: relative;
	}
	
	th {
		height: 52px;
		position: relative;
		border-bottom: 2px solid rgba(148, 112, 203, 0.45);
		@include gradient-vertical(#fefeff,#ebf2fd);
		
		&:first-child {
			z-index: 50;
			@include border-radius(4px 0 0px 0px);
			
			.ivu-table-cell {
				border-right: none;
			}
		}
		
		&:last-child {
			@include border-radius(0 4px 0 0);
			
			.ivu-table-cell {
				border-right: none;
			}
		}
		
		.ivu-table-cell {
			display: block;
			border-right: 1px solid #E8D1FF;
		}
		
		&.col_icon {
			
			.ivu-table-cell {
				margin-left: 40px;
			}
			
			.ivu-table-cell-sort {
			//	margin-left: 40px;
			}
		}
	}
	
	td {
		height: 52px;
		border-bottom: 1px solid rgba(148, 112, 203, 0.45);
		
		&.col_icon {
			
			span {
				padding: 2px 0 2px 40px;
				position: relative;
				display: inline-block;
			}
		}
	}
	
	tr {
		
		&:last-child {
			
			&:first-child {
				@include border-radius(0 0 0 4px);
			}
			
			&:last-child {
				@include border-radius(0 0 4px 0);
			}
		}
	}
}


.ivu-table-row-hover {
	
	td {
		background: rgba(230, 223, 251, 0.31) !important;
		
		&.bg_purple {
			background: #f6effd !important;
		}
	}
}


.ivu-table-cell {
	position: relative;
	overflow: visible;
	
/*	> * {
		width: 100%;
		display: flow-root;
		text-align: center;
	} */
}

.w-100 {
	width: 100%;
	display: block;
	text-align: center;
}


.th_value {
	left: 50%;
	top: 100%;
	width: 35px;
	height: 14px;
	color: #000;
	z-index: 10;
	display: block;
	font-weight: 300;
	padding: 2px 2px 1px 2px;
	font-size: 1.1rem;
	line-height: 1.2rem;
	text-align: center;
	position: absolute;
	background: #D1CDEE;
	margin: 1px 0 0 -17px;
	@include border-radius(6px 6px 0 0);
}

.table_link {
	color: #0049B6;
	font-weight: 700;
	text-decoration: underline;
	
	&:hover {
		color: #000;
		text-decoration: none;
	}
}

.table_progress {
	width: 110px;
	height: 30px;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	text-align: center;
	background: #F0F6FF;
	display: inline-block;
	border: 1px solid #D9E8FF;
	
	span {
		z-index: 20;
		display: inline-block;
		position: relative;
	}
	
	i {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		overflow: hidden;
		position: absolute;
		display: inline-block;
		border: 1px solid #F0F6FF;
		background: linear-gradient(89.92deg, #3CDEB7 0.03%, rgba(137, 255, 82, 0.26) 106.37%);
		
		&:before {
			top: 0;
			right: 0;
			bottom: 0;
			width: 4px;
			content: '';
			position: absolute;
			display: inline-block;
			background: url("../img/table_progress_pattern.png") 0 0 no-repeat;
		}
	}
}

.table_flex {
	@include flexbox();
	@include align-items(center);
}

.table_icon {
	font-size: 0;
	line-height: 0;
	margin-right: 5px;
	display: inline-block;
	
	img {
		display: inline-block;
	}
}

.ivu-table {
	
	table {
		overflow: hidden;
	}
	
	td {
		position: relative;
		
		> div {
			z-index: 10;
			position: relative;
		}
		
		&:hover {
			
			&:before {
				left: 0;
				z-index: 1;
				top: -5000px;
				width: 100%;
				content: '';
				display: block;
				height: 10000px;
				position: absolute;
				background: rgba(252, 188, 253, 0.12);
			}
		}
	}
	
}


.ivu-table-fixed {
	z-index: 100;
	background: #fff;
}